[submodule "config-prettier"]
	path = config-prettier
	url = https://github.com/alex-lit/config-prettier
[submodule "config-eslint"]
	path = config-eslint
	url = https://github.com/alex-lit/config-eslint
[submodule "config-stylelint"]
	path = config-stylelint
	url = https://github.com/alex-lit/config-stylelint
[submodule "config-commitlint"]
	path = config-commitlint
	url = https://github.com/alex-lit/config-commitlint
