[submodule "submodules/config-stylelint"]
path = submodules/config-stylelint
url = https://github.com/alex-lit/config-stylelint.git

[submodule "submodules/config-prettier"]
path = submodules/config-prettier
url = https://github.com/alex-lit/config-prettier.git

[submodule "submodules/config-eslint"]
path = submodules/config-eslint
url = https://github.com/alex-lit/config-eslint.git

[submodule "submodules/config-commitlint"]
path = submodules/config-commitlint
url = https://github.com/alex-lit/config-commitlint.git

[submodule "submodules/config-markdownlint"]
path = submodules/config-markdownlint
url = https://github.com/alex-lit/config-markdownlint.git

[submodule "submodules/config-htmllint"]
path = submodules/config-htmllint
url = https://github.com/alex-lit/config-htmllint.git

[submodule "submodules/config-npmlint"]
path = submodules/config-npmlint
url = https://github.com/alex-lit/config-npmlint.git
