.a {
  @apply sm:block lg:text-lg;

  background-color: green;
  color: red;
  font-weight: bold;

  @media (--laptop) {
    color: red;
  }

  @media (--mobile) {
    color: red;
  }

  @page {
  }

  @starting-style {
    color: red;
  }

  @asd {
  }

  &::after {
  }

  &::before {
  }

  .bbb {
    color: red;
  }

  .bab {
  }

  bс {
  }

  bb {
  }

  &__ba {
  }
}
